@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Franklin&display=swap');
@media screen and (min-width: 1400px) {
  .leftsidebar {
    height: 1900px;
  }
}
@media screen and (min-width: 1600px) {
  .leftsidebar {
    height: 1970px;
  }
}
@media screen and (min-width: 1900px) {
  .leftsidebar {
    height: 1870px;
  }
}

.leftsidebar {
  position: fixed;
  width: 350px;
  height: 1000px;
  left: 0px;
  top: 100px;
  border-right: 1px #eeeeee solid;
}

.bottomtab {
  position: absolute;
  width: 350px;
  height: 85px;
  left: 0px;
  top: 800px;
  background: #e3f6fc;
}

.profile {
  position: fixed;
  font-family: 'Lato' sans-serif;
  width: 350px;
  border-right: 1px #eeeeee solid;
  border-bottom: 1px #eeeeee solid;
  height: 100px;
  left: 0px;
  top: 0px;
}

.inputfield {
  position: fixed;
  width: 1200px;
  margin-bottom: 100px;
  top: 768px;
  outline-width: 0;
  height: 50px;
  margin-left: 6%;
  left: 300px;
  border: 1px solid rgba(150, 169, 186, 0.7);
  box-sizing: border-box;
  border-radius: 14px;
  padding-left: 15px;
}

.chattext {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  left: 10px;
  top: 10px;
  line-height: 150.5%;
  color: #000;
}

.chatprofile {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 410px;
  top: 687px;
  background-blend-mode: normal;
  border: 2px solid #f3ba4a;
}

.dot {
  height: 28px;
  width: 28px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  margin-left: 35px;
  top: -27px;
}

.navdot {
  display: inline-flex;
  background-color: #d3d3d3;
  border-radius: 50%;
  position: relative;
  margin-left: 35px;
  top: -27px;
}

.sidebarcontent {
  position: relative;
  width: 310px;
  height: 74px;
  left: 14px;
  top: 10px;
  background: #6588de1a;
  border-radius: 14px;
  cursor: pointer;
}

.groupName {
  font-family: 'Lato', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
}

.message {
  position: relative;
  width: 506px;
  bottom: 5px;
  top: 80px;
  left: 440px;
  display: block;
  overflow: hidden;
  background: #e5e5e9;
  border-radius: 0px 50px 50px 50px;
}

.yourmessage {
  position: relative;
  width: 506px;
  bottom: 5px;
  top: 80px;
  left: 1200px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
  background: #0993f6;
  color: #fff;
  border-radius: 50px 0px 50px 50px;
}

.text {
  padding: 10px 20px;
  font-family: 'Lato', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
}

.sendbutton {
  position: relative;
  width: 80px;
  height: 40px;
  color: #fff;
  border-radius: 14px;
  transform: rotate(-40deg);
}

.container {
  background-color: #fcfdfc;
  flex: 1;
}

.darkcolor {
  color: #303437;
}
