@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@media screen and (min-width: 1400px) {
  .leftsidebar {
    height: 1900px;
  }
}
@media screen and (min-width: 1600px) {
  .leftsidebar {
    height: 1970px;
  }
}
@media screen and (min-width: 1900px) {
  .leftsidebar {
    height: 1870px;
  }
}

.leftsidebar {
  position: fixed;
  width: 450px;
  height: 1000px;
  left: 0px;
  top: 100px;
  border-right: 1px #eeeeee solid;
}

.bottomtab {
  position: absolute;
  width: 350px;
  height: 85px;
  left: 0px;
  top: 800px;
  background: #e3f6fc;
}

.profile {
  position: fixed;
  font-family: 'Lato' sans-serif;
  width: 450px;
  border-right: 1px #eeeeee solid;
  border-bottom: 1px #eeeeee solid;
  height: 100px;
  left: 0px;
  top: 0px;
}

.chattext {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  left: 10px;
  top: 10px;
  line-height: 150.5%;
  color: #000;
}

.chatprofile {
  width: 44px;
  height: 44px;
  left: 410px;
  top: 687px;
  background-blend-mode: normal;
  border: 2px solid #f3ba4a;
}

.dot {
  height: 28px;
  width: 28px;
  background-color: #eeeeee;
  border-radius: 50%;
  position: relative;
  margin-left: 35px;
  top: -27px;
}

.navdot {
  display: inline-flex;
  background-color: #d3d3d3;
  border-radius: 50%;
  position: relative;
  margin-left: 35px;
  top: -27px;
}

.sidebarcontent {
  position: relative;
  width: 450px;
  height: 90px;
  padding: 10px 15px;
  background-color: #0a0514;
  top: 30px;
  cursor: pointer;
}

.sidebarcontent:hover {
  background: #2d2835;
}

.sidebarcontentlight {
  position: relative;
  width: 450px;
  height: 90px;
  padding: 10px 15px;
  background-color: #fff;
  top: 30px;
  cursor: pointer;
}

.sidebarcontentlight:hover {
  background-color: #e9eaeb;
}

.groupName {
  font-family: 'Lato', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
}

.message {
  position: relative;
  width: 506px;
  left: 566px;
  margin-bottom: 10px;
  display: block;
  background-attachment: fixed;
  background: #323232;
  color: #000;
  border-radius: 19px;
}

.yourmessage {
  position: relative;
  max-width: 506px;
  left: 1200px;
  margin-bottom: 10px;
  background-attachment: fixed;

  background-image: linear-gradient(#009afe 0%, rgb(146, 0, 255) 50%, rgb(255, 46, 25) 100%);
  /* background-color: #009afe; */
  color: #fff;
  border-radius: 19px;
}

.yourmessage:first-child {
  border-radius: 50px 50px 0px 50px;
}
.yourmessage:last-child {
  border-radius: 4em 2em 2em 4em;
}

.message:first-of-type {
  border-radius: 50px 50px 50px 0px;
}
.message:last-child {
  border-radius: 3em 4em 4em 3em;
}

/* LIGHT */

.messagelight {
  position: relative;
  width: 506px;
  left: 566px;
  margin-bottom: 10px;
  display: block;
  background-attachment: fixed;
  background: #f1f2f6;
  color: #000;
  border-radius: 25px;
}

.yourmessagelight {
  position: relative;
  width: 506px;
  left: 1200px;
  margin-bottom: 10px;
  display: block;
  background-attachment: fixed;
  background-image: linear-gradient(#009afe 0%, rgb(146, 0, 255) 50%, rgb(255, 46, 25) 100%);
  /* background-color: #009afe; */
  color: #fff;
  border-radius: 25px;
}

.yourmessagelight:first-child {
  border-radius: 50px 50px 0px 50px;
}
.yourmessagelight:last-child {
  border-radius: 4em 2em 2em 4em;
}

.messagelight:first-of-type {
  border-radius: 50px 50px 50px 0px;
}
.messagelight:last-child {
  border-radius: 3em 4em 4em 3em;
}

.yourmessagecircle {
  position: relative;
  left: 1200px;
  margin-bottom: 10px;
  display: block;
  background-attachment: fixed;
  background-image: linear-gradient(#009afe 0%, rgb(146, 0, 255) 50%, rgb(255, 46, 25) 100%);
  color: #fff;
  border-radius: 30px;
}

.text {
  padding: 10px 15px;
  font-family: Helvetica 'Neue', sans-serif, Helvetica;
  font-style: normal;
  left: 15px;
  top: 10px;
  line-height: 170.5%;
}

.darkcolor {
  color: #303437;
}

.border {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  width: 58px;
  height: 6.5vh;
  border-radius: 100px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon_gradient {
  background: -webkit-linear-gradient(#0993f6 0%, rgb(146, 0, 255) 50%, rgb(255, 46, 25) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loadmorebtn {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes yourmessage {
  0% {
    transform: scale(0);
    opacity: 0;
    left: 900px;
  }
  12% {
    right: -4em;
    transform: scale(0);
  }
  17% {
    right: 0;
    transform: scale(1);
    opacity: 1;
  }
  30% {
  }
  35% {
  }
  49% {
  }
  54% {
  }
  70% {
  }
  75% {
    right: 0;
  }
  95% {
  }
  100% {
    right: 0;
  }
}

.sidebarcontent:last-of-type {
  border-bottom: none;
}

.bubble {
  height: auto;
  max-width: 60%;
  background-color: #2962ff;
  color: #fff;
  margin: 5px 0;
  padding: 10px 20px;
  margin-left: 700px;
}

.bubble:nth-child(1) {
  border-bottom-left-radius: 0.1em;
}

.bubble:first-of-child {
  border-bottom-left-radius: 0.1em;
}

.bubble:not(:first-child) {
  -webkit-border-radius: 5px 20px 20px 5px;
  border-radius: 5px 20px 20px 5px;
}

.bubble:last-child {
  -webkit-border-radius: 0 20px 20px 20px;
  border-radius: 0 20px 20px 20px;
}
.bubble:only-of-type {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
