.borderMd {
  border-width: 2px;
}

.btnFacebook {
  background: #405d9d;
  border: none;
}

.btnFacebook:hover,
.btnFacebook:focus {
  background: #314879;
}

.btnTwitter {
  background: #42aeec;
  border: none;
}

.btnTwitter:hover,
.btnTwitter:focus {
  background: #1799e4;
}

.errTxt {
  color: red;
  position: relative;
  bottom: 10px;
  left: 5px;
}

.form-control:not(select) {
  padding: 1.5rem 0.5rem;
}

select.form-control {
  height: 52px;
  padding-left: 0.5rem;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
}
